<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load censor %}

{% load custom_tags %}

{% block title %}
All News
{% endblock title %}

{% block content %}
    {% if is_not_subscriber %}
    <h2>Вы хотите подписаться на рассылку публикаций категории {{ postCategory}}?</h2>
    {% else %}
    <h2>Вы хотите отписаться от рассылки публикаций категории {{ postCategory}}?</h2>
    {% endif %}
    <hr>
    {% if is_not_subscriber %}
        <p class="text-center"><a href="{% url 'subscribe' postCategory.id %}" class="btn btn-secondary btn-sm">Подписаться</a> </p>
    {% else %}
        <p class="text-center"><a href="{% url 'unsubscribe' postCategory.id %}" class="btn btn-secondary btn-sm">Отписаться</a> </p>
    {% endif %}
<hr>
   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}